.graphichead {
  font-family: 'BentonSans', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
}

.subtitle {
  font-family: 'BentonSans', Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  line-height: 1.4em;
  margin-top: 20px;
  margin-bottom: 15px;
}

#holders {
  position: relative;
}

.dropdown {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  float: none;
}

#selects {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

#svg {
  z-index: 30;
}

#button {
  font-family: 'Helvetica', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #999;
  padding: 15px;
  border: 1px solid #ccc;
  width: 150px;
  text-align: center;
  cursor: pointer;
  cursor: hand;
}

.gfx-circle {
  display: block;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  behavior: url(PIE.htc);
  float: left;
  border: 2px solid red;
  position: absolute;
}

@media screen and (min-width: 600px) {
  .dropdown {
    float: left;
    width: 31%;
    margin-right: 2%;
  }
}